@import '@sass/_global'
.dropdown
    width: 100%
    max-width: 1240px
    display: flex
    flex-direction: column
    // justify-content: center
    align-items: center
.launcher
    display: block
    position: relative
    background-color: $main-color
    color: $base-color
    border-radius: 5px
    padding: 9px 18px
    margin-top: 2rem
    font-size: 1.2rem
    font-weight: bold
    width: 100%
    max-width: 1023px
    cursor: pointer
    i
        position: absolute
        right: 20px
        top: calc(50% - 20px)

.container-block
    background-color: $bg-gray
    transition: max-height .3s
    width: 100%
    max-width: 1023px
    border-radius: 5px

.content-block
    padding: 2rem 1.2rem 1.2rem 1.2rem
    li
        list-style: none
