@import '@sass/_global.sass'

.logement
    padding-bottom: 1rem
    header.info
        display: flex
        justify-content: space-between
        padding: 1rem 0
        text-align: center
        margin-top: 1rem
        h2
            font-size: 1.5rem
            margin: 0
        p
            font-size: 1rem
            margin: 0 0 1rem 0
        .info-logement
            display: flex
            flex-direction: column
            align-items: flex-start
            .pill
                display: inline-flex
                justify-content: center
                align-items: center
                padding: 0 0.5rem
                border-radius: 10px
                background-color: $main-color
                margin-right: 0.5rem
                min-width: 115px
                height: 25px
                color: white
                font-size: 0.8rem

        .info-host
            display: flex
            flex-direction: column
            align-items: flex-end
            gap: 20px
            .profile
                display: flex
                .name
                    margin-right: 0.5rem
                    font-size: 1.1rem
                    line-height: 1.5rem
                    text-align: right
                    padding-top: 0.3rem
                    margin-right: 0.5rem
                img
                    width: 64px
                    height: 64px
                    border-radius: 50%
            .rating
                &>i
                    color: $medium-gray
                    font-size: 1.6rem
                    margin-right: 0.2rem
                &>.star
                    color: $main-color

    .details
        display: flex
        gap: 2rem
        .dropdown
            flex-grow: 1
            width: 50%
            .launcher
                width: 100%

@media (max-width: 560px)
    .logement
        header.info
            display: flex
            flex-direction: column
            h2
                font-size: 1.3rem
                margin: 0
                line-height: 1.8rem
                text-align: left
            p
                font-size: 0.8rem
                margin: 0
            .info-logement
                margin-bottom: 1rem
                .pill
                    font-size: 0.65rem
                    min-width: 85px
                    height: 22px
            .info-host
                display: flex
                flex-direction: row-reverse
                align-items: center
                justify-content: space-between
                .profile
                    align-items: center
                    .name
                        margin: 0 0.5rem
                        font-size: 0.7rem
                        line-height: 1rem

                    img
                        width: 32px
                        height: 32px
                        border-radius: 50%
                .rating
                    display: flex
                    align-items: center
                    &>i
                        color: $medium-gray
                        font-size: 1.3rem
                        margin-right: 0.2rem
                    &>.star
                        color: $main-color
        .details
            display: flex
            flex-direction: column
            gap: 0.8rem
            .dropdown
                width: 100%
